:root {
  --bs-body-font-family: 'Inter', sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-text-align: left;
  --bs-body-bg: #ffffff;
  --bs-border-width: 1px;
  --bs-heading-color: #000000;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: #2c2c2c;
  text-align: var(--bs-body-text-align);
  background-color: #f5f6fa;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(10, 10, 10, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

h1,
.h1 {
    font-size: calc(1.425rem + 2.1vw);
    font-family: 'JetBrains Mono', monospace;
    background-color: #A9DEF9;
    width: fit-content;
    border-radius: 5px;
    padding: 0.3rem 0.7rem;
}

canvas {
    width: 100%;
    height: 100%;
}

.charts {
    position: relative;
    height: auto;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}


.ligne_principale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
}

#status_chart {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

.Dashboard {
    width:60%;
    background: linear-gradient(45deg,rgba(237, 231, 177, 1) 0%, rgba(255, 248, 168, 1) 100%);
    border-radius: 15px;
    padding: 1%;
    max-height: 500px;
    height: 500px;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.repartition_resultats {
    width: 30%;
    background: linear-gradient(45deg,rgba(237, 231, 177, 1) 0%, rgba(255, 248, 168, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 1%;
    max-height: 500px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.performances {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.presentation_dashboard {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

#familyScaleChart {
    width: 100%;
    height: auto;
}

.family_scale {
    width: 55%;
}



.ligne_secondaire {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 2px solid #dee2e6;
    background: linear-gradient(45deg,rgba(237, 231, 177, 1) 0%, rgba(255, 248, 168, 1) 100%);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem;
}

#solverChart {
    width: 100%;
    height: auto;
}

#timeChart {
    width: 100%;
    height: auto;
}

.efficacité, .temps {
    width: 47%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titres {
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background-color: #A9DEF9;
    border-radius: 5px;
    padding: 0.3rem 0.7rem;
    font-weight: 500;
    width: fit-content;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 50%;
    height: auto;
}

.sous-titre {
    font-size: 0.9rem;
    color: #6c757d;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: linear-gradient(45deg,rgba(237, 231, 177, 1) 0%, rgba(255, 248, 168, 1) 100%);
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'JetBrains Mono', monospace;
}

.titre {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}